[submodule "submodules/CarND_04_AdvancedLaneFinding"]
	path = submodules/CarND_04_AdvancedLaneFinding
	url = https://github.com/benjaminsoellner/CarND_04_AdvancedLaneFinding
[submodule "submodules/CarND-Vehicle-Detection"]
	path = submodules/CarND-Vehicle-Detection
	url = https://github.com/udacity/CarND-Vehicle-Detection
